@font-face {
font-family: "Cooper Black";
url("img/Cooper Black.woff") format('woff'),
url("img/Cooper Black.ttf") format("truetype"),
}

body {
  background: #eee;
  margin: 25px;
  font: Cooper Black;
}

.header {
  justify-content: center;
  display: flex;
  background: #ddd;
  padding: 10px;
  border-radius: 20px;
}
